@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: white;
  background-image: url('../img/background-junk.jpg');
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* 首先你得先要把這個container的height變成100vh才能夠Center在中閒 */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
}

/* 選擇所有btn的兒子*/
.btn > * {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 20px;
  transition: all 0.3s linear;
  animation: opening 2s ease-in;
  cursor: pointer;
  outline: none;
}

.btn:active {
  transform: translateY(4px);
}

.btn > *:hover {
  transform: scale(1.5);
}

@keyframes opening {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/*裏面的每個元素都以獨立的block形式呈現 */
.btn {
  /* display: block; */
  background-color: transparent;
  border: none;
}

/* 如果是display block, 裏面的東西好像center不了*/

.form {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 50vh;
  width: 50vw;
  z-index: 1;
  position: absolute;
  min-width: 200px;
}

/* 也就是最小也不能小過200 */
/*---------Name component-----------  */
.form h1 {
  position: absolute;
  top: 15%;
  font-size: 1.6rem;
}

.name {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  width: 100%;
  padding: 15px 0;
  font-size: 1rem;
  color: #fff;
  height: 30px;
  background-color: transparent;
  position: absolute;
  top: 50%;
}

.name:focus {
  outline: 0;
  border-bottom-color: lightblue;
}

.form label {
  position: absolute;
  top: 100px;
  left: 0;
  pointer-events: none;
  top: 40%;
  font-size: 1.5rem;
}

.submit {
  background-color: transparent;
  border: none;
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  font-size: 2.25rem;
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  top: 65%;
  background-color: #fff;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 50%;
}

.submit:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 700px) {
  body {
    font-size: 0.5rem;
    background-size: 140%;
    background-repeat: no-repeat;
    background-position: top 30% left 50%;
    overflow: hidden;
  }

  .form {
    color: white;
    opacity: 0.8;
  }

  .container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  /*---------FoodIcon component-----------  */

  img {
    margin-right: 30px;
  }

  img:hover {
    transform: translatey(-5%);
  }
}
